.navbar a:hover {
    background: #ddd;
    color: black;
}

.navbar-inverse {
    position:fixed;
    top:0;
    color: white;
    background-color: black;
    width:100%;
    left:0;
}

.navbar b:hover {
    background: red;
    color: black;
}

.flash-container {
    background:#2cc02a;
	font-family: Tahoma;
	font-size: 24px;
    padding: 30px;
    margin : 15px 0px 15px 0px;
}

.white{
    color: #FFFAF0;
}

.topnav-right {
    float: right;
}

.topnav-middle {
    float: middle;
}

.main {
    padding: 16px;
    margin-top: 30px;
}

body {margin:0;}