.navbar a:hover {
    background: #ddd;
    color: black;
}

.datahome {
    text-align : center;
    width : 50%;
    position: center;
    height : 22%;
    font-size : 22px;
    background-color: #ff9999;
    border-radius: 23px;
    padding-top : 6px;
    margin-left: auto;
    margin-right: auto;
}

.scrollfeat {
    outline-style: solid;
    outline-color: black;
    overflow:scroll; 
    height:400px;
}

.featable {
    background-color: bisque;
}

.center {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
  }

.navbar-inverse {
    position:fixed;
    top:0;
    color: white;
    background-color: black;
    width:100%;
    left:0;
}

.navbar b:hover {
    background: red;
    color: black;
}

.flash-container {
    background:#2cc02a;
	font-family: Tahoma;
	font-size: 24px;
    padding: 30px;
    margin : 15px 0px 15px 0px;
}

.white{
    color: #FFFAF0;
}

.topnav-right {
    float: right;
}

.topnav-middle {
    float: middle;
}

.main {
    padding: 16px;
    margin-top: 30px;
}

