.nav-container{
    background-color: 	#808080;
}

.flash-container {
    background:#0bce07;
	font-family: Tahoma;
	font-size: 24px;
    padding: 30px;
    margin : 15px 0px 15px 0px;
}

.white{
    color: #FFFAF0;
}

.topnav-right {
    float: right;
}

.topnav {
    background-color: #333;
    overflow: hidden;
}

table {
    border-collapse: separate;
    border-spacing: 20px;
}