<table class="featable" padding="2px">
    <br>
    <td width="100%">
        Header: {{ column }}
    </td>
    <td width="20%">
        <!--One form for the Identifier and another form with different route for Feature-->
        <form action="{{ url_for('identify', column=column) }}" method="post" style="text-align:right">
            <input type="submit" value="Identifier">
        </form>
        <form action="{{ url_for('feature', column=column) }}" method="post" style="text-align:right">
            <input type="submit" value="Feature">
        </form>
    </td>
</table>