<table class="playertable" padding="0px">
    <tr class="trlist">
        <td width="3%">

        </td>
        <td width="30%">
            {{ game[2] }}
        </td>
        <td width="3%">

        </td>
        <td width="20">
            {{ game[1] }}
        </td>
        <td width="3%">
        
        </td>
        <td width="20%">
            {% if game[3][0] != -1 %}
            <!--
                
                <div>
                    <iframe frameborder="0" noresize="noresize"
                style='background: transparent; width: 100%; height:100%;' src="{{ url_for('content', timers=game[1])}}"></iframe>
                </div>
                    
                -->
                Tipoff:
                {{ game[3][1] }}
            {% endif %}

            {% if game[3][0] == -1 %}
                Game Live 
                {{ game[3][1] }} 
                Ago
            {% endif %}
        </td>
        <td width="25%">
            {% if game[3] == -1 %}
                <form action="{{ url_for('nbalived') }}" method="post">
                    <input type="hidden" name="game_id" value={{game[0]}} /> 
                    <button type="submit">Live Bet</button>
                </form>
            {% endif %}
            {% if game[3] != -1 %}
                <button id="disabled" disabled>Live Bet</button>
            {% endif %}
        </td>
    </tr>
    <br>
</table>