{% extends "base.html" %}

{% block content %}
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.parallax {
  /* The image used */
  background: url(../static/camp.jpg);

  /* Set a specific height */
  min-height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
</style>
</head>
<body style="background-color: rgb(76,76,76);">
<div class="parallax"></div>

<div style="height:1000px;background-color:lightgray;font-size:36px;margin:70px;
            background-color:rgb(64,64,64);border-radius: 25px;">
  <div style="margin:12px;color:white;">
    My name is brevin simon and I am a computer scientist and alumni at Washington State University. 
  </div>
</div>

</body>
{% endblock %}
