{% extends "base.html" %}

{% block content %}
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.parallax {
  /* The image used */
  background: url(../static/camp.jpg);

  /* Set a specific height */
  min-height: 800px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
</style>
</head>
<body>
<div class="parallax"></div>

<div style="height:1000px;background-color:lightgray;font-size:36px">
My name is brevin simon and I am a computer scientist and alumni at Washington State University. 
</div>

</body>
{% endblock %}
