<html>
    <head>
        <title> brevai </title>
        <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
    </head>
<body>
    <div class="nav-container">
        <table>
            <div>
                <a class="navbar-brand" href="{{url_for('index')}}">Homepage</a>
            </div>
            <table class="nav navbar-nav">
                <td><a href="{{ url_for('index') }}" class="button">Home</a></td>
                <td><a href="{{ url_for('register') }}" class="button">Create Account</a></td>
                {% if current_user.is_anonymous %}
                    <li><a href="{{ url_for('login') }}" class = "button"> Login </a></li>
                {% else %}
                    <li><a href="{{ url_for('logout') }}" class = "button"> Logout </a></li>
                    <li class="white">Logged in as {{ current_user.firstname }} {{ current_user.lastname }} </li>
                {% endif %}    
            </table>

        </table>
    </div>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
          {% for message in messages %}
          <div class="flash-container">{{ message }}</div>
          {% endfor %}
      {% endif %}
      {% endwith %}
    {% block content %} {% endblock %}
</body>

</html>