<!DOCTYPE html>
<html>
    <head>
        <title> brevml </title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="navbar navbar-inverse">
            <a class="button navbar-brand" href="{{url_for('aboutme')}}">About Me</a>
            <a href="{{ url_for('homepage') }}" class="button navbar-brand">Home</a>
            <a href="{{ url_for('register') }}" class="button navbar-brand">Create Account</a>
            {% if current_user.is_anonymous %}
                <a href="{{ url_for('login') }}" class="button navbar-brand">Login</a>
            {% else %}
                <a href="{{ url_for('logout') }}" class="button navbar-brand">Logout</a>
                <i class="navbar-brand white">
                    Logged in as {{ current_user.firstname }} {{ current_user.lastname }}
                </i>
            {% endif %}    
            <!--MEDIA ICONS-->
            <!-- LinkedIn -->
            <a
                style="float:right;"
                class="btn btn-primary btn-lg btn-floating"
                style="background-color: white; padding-top: 10px;"
                href="https://www.linkedin.com/in/brevin-simon-a197ba206/"
                target="_blank"
                role="button"
                ><i class="bi bi-linkedin"></i>
            </a> 
            <!-- GitHub -->
            <a
                style="float:right;"
                class="btn btn-primary btn-lg btn-floating"
                style="background-color: white; padding-top: 10px;"
                href="https://github.com/BrevinS"
                target="_blank"
                role="button"
                ><i class="bi bi-github"></i>
            </a>
        </div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="flash-container">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}
        {% block content %} {% endblock %}
    </body>
</html>