{% extends "base.html" %}

{% block content %}
    <style>
        .content {
            max-width: 800px;
            margin: auto;
        }
        .feat {
            background-color: black;
        }
    </style>
    <!--Input of text box-->
    <br><br><br><br><br>
    <div class="content">
        <p>Check if ChatGPT-3 created a passage</p>
        <!--Link to route checkgpt3-->
        <form action="{{ url_for('checkgpt3') }}" method="post">
            {{ form.hidden_tag() }}
            <textarea id="checkgpt3" name="w3review" rows="4" cols="50">Enter a passage you'd like see if GPT-3 created.</textarea>
            <br>

            <p>{{ form.submit(class='button') }}</p>
        </form>
    </div>

{% endblock %}