{% extends "base.html" %}

{% block content %}
    <script>
    function toggle_display(){
        el = document.querySelector('.content_section');
    
        if(el.style.visibility == 'hidden'){
            el.style.visibility = 'visible'
        }else{
            el.style.visibility = 'hidden'
        }
    }
    </script>
    <style>
    .content {
      max-width: 800px;
      margin: auto;
    }
    .feat {
        background-color: black;
    }
    </style>
    <body>
        <div class="content">
            Dataframe Columns (Identify one "Identifier" column and any number of "Feature" columns)
            <br>
            
            <div style="overflow:scroll; height:400px; outline-style: solid;">
                {% for column in columns %}
                    <div class="column">
                        {% with data=dataframe_id, featurelist=featlist, identitylist=identlist %}
                            {% include '_features.html' %}
                            <br>
                        {% endwith %}
                    </div>
                {% endfor %}
            </div>
            <br>
            <button onclick="toggle_display()">Hide/Show Dataset</button>
            Shape is: {{ shape }}
            {% if (featlist|length) == 1 %}
                {% if (identlist|length) >= 2 %}
                    <button style="float: right;">Submit</button>
                {% endif %}
            {% endif %}
            <br>
        </div>
        <br>
            <div class="content_section content" id="" style="overflow:scroll; height:400px; outline-style: solid; outline-color: black;">
                {% for table in tables %}
                    {{ columns[loop.index] }}
                    {{ table|safe }}
                {% endfor %}
            </div>
        <br>
    </body>
  
{% endblock %}