{% extends "base.html" %}

{% block content %}
    <script>
        function toggle_display(){
            el = document.querySelector('.content_section');
        
            if(el.style.visibility == 'hidden'){
                el.style.visibility = 'visible'
            }else{
                el.style.visibility = 'hidden'
            }
        }
        </script>
    <style>
        .content {
            max-width: 800px;
            margin: auto;
        }
        .feat {
            background-color: black;
        }
    </style>
    <body>
        <div class="content">
            {% if option == 0 %}
                <div>
                    <form action="{{ url_for('dataframeview', dataframe_id=dataframe_id, option=option) }}" method="post">
                        <label><input type="radio" name="option" value="1">Unsupervised Learning</label>
                        <label><input type="radio" name="option" value="2">Supervised Learning</label>
                        <button type="submit">Select</button>
                    </form>
                </div>
            {% endif %}
            <!--UNSUPERVISED-->
            {% if option == 1 %}
                Dataframe Columns (Identify one "Identifier" column and any number of "Feature" columns)
                <div style="overflow:scroll; height:400px; outline-style: solid;">
                    {% for column in columns %}
                        <div class="column">
                            {% with data=dataframe_id, featurelist=featlist, identitylist=identlist, targetlist=targlist, opt=option %}
                                {% include '_features.html' %}
                                <br>
                            {% endwith %}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

            <!--SUPERVISED-->
            {% if option == 2 %}
                Dataframe Columns (Identify one "Identifier" and one "Target" column and any number of "Feature" columns)
                <div style="overflow:scroll; height:400px; outline-style: solid;">
                    {% for column in columns %}
                        <div class="column">
                            {% with data=dataframe_id, featurelist=featlist, identitylist=identlist, targetlist=targlist, opt=option %}
                                {% include '_features.html' %}
                                <br>
                            {% endwith %}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            <br>
            Shape is: {{ shape }}
            {% if option == 1 %}
                {% if (featlist|length) >= 2 %}
                    {% if (identlist|length) == 1 %}
                        <!--WE HAVE ACCESS TO FEATLIST, IDENTLIST, and MORE-->
                        <form action="{{ url_for('unsupervised', dataframe_id=dataframe_id, featurelist=featlist, identitylist=identlist, 
                                        table=tables) }}">
                            <button style="float: right;">Submit</button>
                        </form>
                    {% endif %}
                {% endif %}
            {% endif %}

            {% if option == 2 %}
                {% if (featlist|length) >= 2 %}
                    {% if (identlist|length) == 1 and (targlist|length) == 1 %}
                        <!--WE HAVE ACCESS TO FEATLIST, IDENTLIST, and MORE-->
                        <form action="{{ url_for('unsupervised', dataframe_id=dataframe_id, featurelist=featlist, identitylist=identlist, 
                                        table=tables) }}">
                            <button style="float: right;">Submit</button>
                        </form>
                    {% endif %}
                {% endif %}
            {% endif %}

            <br>
            <button onclick="toggle_display()">Hide/Show Dataset</button>
        </div>
        <br>
            <div class="content_section content" id="" style="overflow:scroll; height:400px; outline-style: solid; outline-color: black;">
                {% for table in tables %}
                    {{ columns[loop.index] }}
                    {{ table|safe }}
                {% endfor %}
            </div>
        <br>
    </body>
  
{% endblock %}