{% extends "base.html" %}

{% block content %}
    <style>
    .content {
        max-width: 800px;
        margin: auto;
    }
    </style>
    <body style="background-color:rgb(125, 125, 125)">
        <br><br>
        <div class="content">
            <h1>Upload a file (.csv)</h1>
            <form method=post enctype=multipart/form-data>
                <input type=file name=file style="text-align: right;">
                <input type="submit" value=Upload>
            </form>
    </body>
  
{% endblock %}