{% extends "base.html" %}

{% block content %}
    <script>
    function toggle_display(){
        el = document.querySelector('.content_section');
    
        if(el.style.visibility == 'hidden'){
            el.style.visibility = 'visible'
        }else{
            el.style.visibility = 'hidden'
        }
    }
    </script>
    <style>
    .content {
      max-width: 500px;
      margin: auto;
    }
    </style>
    <body>
        <div class="content">
            <h1>Upload a file (.csv)</h1>
            <form method=post enctype=multipart/form-data>
                <input type=file name=file style="text-align: right;">
                <input type="submit" value=Upload>
            </form>

            Shape is: {{ shape }}
            <br>

            ID's and Features
            <br>

            {% for column in titles %}
                {{ column }}
                <form method="post">
                    <input type="submit" value="Apply">
                </form>
            {% endfor %}
            {% if shape %}
            <button onclick="toggle_display()">View Dataset</button>
            {% endif %}
            <div class="content_section" id="" style="overflow:scroll; height:400px;">
                {% for table in tables %}
                    {{ titles[loop.index] }}
                    {{ table|safe }}
                {% endfor %}
            </div>
        </div>
    </body>
  
        
{% endblock %}