{% extends "base.html" %}

{% block content %}
<style>
    .content {
      max-width: 800px;
      margin: auto;
    }
</style> 
<body style="background-color: rgb(125,125,125);">
    <br><br>
    <div class="content">
        <h1>
            KMeans Clustering
        </h1>
        <br>
        <!--Must pass in tables!-->
        <div class="content_section content" id="" style="overflow:scroll; height:400px; outline-style: solid; outline-color: black;">
            {% for table in tables %}
                {{ columns[loop.index] }}
                {{ table|safe }}
            {% endfor %}
        </div>
        <form action="" method="post">
            {{ form.hidden_tag() }}
            {{ form.nclusters.label }}<br>
            <div>
                {{ form.nclusters(class = 'formbody') }}
                {{ form.submit(class="button") }}
            </div>
        </form>
        <!--Show clusters-->
        {% if clusterc|length > 1 %}
            {{ clusterc }}
        {% endif %}
      
        <img src='../static/plts/kmean_pic.png' content="no-cache" />

    </div>
</body>


{% endblock %}
