{% extends "base.html" %}

{% block content %}
<style>
    .content {
      max-width: 800px;
      margin: auto;
    }
</style> 
<body style="background-color: rgb(125,125,125);">
    <br><br>
    <div class="content">
        <h1>
            KMeans Clustering
        </h1>
        <br>
        <!--Must pass in tables!-->
        <div class="content_section content" id="" style="overflow:scroll; height:240px; outline-style: solid; outline-color: black;">
            {% for table in tables %}
                {{ columns[loop.index] }}
                {{ table|safe }}
            {% endfor %}
        </div>
        <form action="" method="post">
            {{ form.hidden_tag() }}
            {{ form.nclusters.label }}<br>
            <div>
                {{ form.nclusters(class = 'formbody') }}
                {{ form.submit(class="button") }}
            </div>
        </form>
        <!--Show clusters-->
        {% if clusterc|length > 1 %}
            {{ clusterc }}
        {% endif %}
        
        <div id="container">
            <!--Left button-->
            <div class="middle">
                <!--url_for(kmeans)-->
                <div class="middle">
                    -1
                </div>
                <a href="{{ url_for('update', dataframe_id=dataframe_id, mlalg=1, ncluster=nclusters, op=1) }}" class="previous round fix" style="width: 20px;">&#8249;</a>
            </div>
            <!--Middle-->
            <div class="center">
                <img src='../static/plts/kmean_pic.png' content="no-cache" />
                <div style="height: 15px;">
                    
                </div>
                <a href="../static/plts/kmean_pic.png" download>
                    <button class="previous" style="width: 400px;"><i class="fa fa-download"></i> Download</button>
                </a>
            </div>
            <!--Right button-->
            <div class="middle">
                <div class="middle">
                    +1
                </div>
                <a href="{{ url_for('update', dataframe_id=dataframe_id, mlalg=1, ncluster=nclusters, op=2) }}" class="previous round fix" style="width: 20px;">&#8250;</a>
            </div>
        </div>

        <!--print <br> 3 times app/static/plts-->
        {% for i in range(3) %}
            <br>
        {% endfor %}
    </div>
</body>


{% endblock %}
