{% extends "base.html" %}

{% block content %}
    <h1 style="text-align: center;">Sign In</h1>
    
    <form action="" method="post" novalidate style="text-align: center;">
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(class='textinput') }}<br>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(class='textinput') }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.rememberme() }} {{ form.rememberme.label }}</p>
        <p>{{ form.submit(class='button') }}</p>
    </form>

{% endblock %}