{% extends "base.html" %}

{% block content %}
    <style>
        .content {
            max-width: 800px;
            margin: auto;
        }
        .feat {
            background-color: black;
        }
    </style>
    <!--Input of text box-->
    <br><br><br><br><br>
    <body style="background-color:rgb(125, 125, 125)">
        <div class="content">
            <p>ESPN LIVE STATS IN PROGRESS /_\</p>
        </div>
        <div>
            <p>ESPN BOX SCORES ATTEMPT!</p>
        </div>
        {% for player, stat in team1 %}
            <!--
                {{ player }}
                {{ stat }}
            -->
            {% include '_player.html' %}
        {% endfor %}
        <br>
        {% for player, stat in team2 %}
            <!--
                {{ player }}
                {{ stat }}
            -->
            {% include '_player.html' %}
        {% endfor %}


    </body>

{% endblock %}