{% extends "base.html" %}

{% block content %}
    <style>
        .content {
            max-width: 800px;
            margin: auto;
        }
        .feat {
            background-color: black;
        }
    </style>
    <!--Input of text box-->
    <br><br><br><br><br>
    <body style="background-color:rgb(125, 125, 125)">
        <div class="content">
            <p>ESPN LIVE STATS IN PROGRESS /_\</p>
        </div>
        <div>
            <table class="playertable" padding="0px">
                <tr>
                    <td width="16%">
            
                    </td>
                    <td width="4%" style="font-size: 8px;">
                        Minutes
                    </td>
                    <td width="4%" style="font-size: 8px;">
                        FG
                    </td>
                    <td width="4%" style="font-size: 8px;">
                        3PT FG
                    </td>
                    <td width="4%" style="font-size: 8px;">
                        FT
                    </td>
                    <td width="4%" style="font-size: 8px;">
                        OFF REB
                    </td>
                    <td width="4%" style="font-size: 8px;">
                        DEF REB
                    </td>
                    <td width="4%" style="font-size: 8px;">
                        REB
                    </td>
                    <td width="4%" style="font-size: 8px;">
                        AST
                    </td>
                    <td width="4%" style="font-size: 8px;">
                        STL
                    </td>
                    <td width="4%" style="font-size: 8px;">
                        BLK
                    </td>
                    <td width="3%" style="font-size: 8px;">
                        TO
                    </td>
                    <td width="3%" style="font-size: 8px;">
                        PF
                    </td>
                    <td width="3%" style="font-size: 8px;">
                        +/-
                    </td>
                    <td width="4%" style="font-size: 8px;">
                        PTS
                    </td>
                </tr>
            </table>
            <table class="playertable" padding="0px">
                <tr>
                    <td>

                        {{ team1_name }}
                    </td>
                </tr>
            </table>
            {% for player, stat in team1 %}
                <!--
                    {{ player }}
                    {{ stat }}
                -->
                {% include '_player.html' %}
            {% endfor %}
            <br>
            <table class="playertable" padding="0px">
                <tr>
                    <td>

                        {{ team2_name }}
                    </td>
                </tr>
            </table>
            {% for player, stat in team2 %}
                <!--
                    {{ player }}
                    {{ stat }}
                -->
                {% include '_player.html' %}
            {% endfor %}
        </div>


    </body>

{% endblock %}