{% extends "base.html" %}

{% block content %}
<script>
    function toggle_display(){
        el = document.querySelector('.content_section');
    
        if(el.style.visibility == 'hidden'){
            el.style.visibility = 'visible'
        }else{
            el.style.visibility = 'hidden'
        }
    }
</script>
<style>
    .content {
      max-width: 800px;
      margin: auto;
    }
</style> 
<body>
    <div class="content">
        <h1>
            Unsupervised Training
        </h1>

        <br>
        <!--Must pass in tables!-->
        <div class="content_section content" id="" style="overflow:scroll; height:400px; outline-style: solid; outline-color: black;">
            {% for table in tables %}
                {{ columns[loop.index] }}
                {{ table|safe }}
            {% endfor %}
        </div>
        <br>
        <form action="{{ url_for('unsuperanalysis', dataframe_id=dataframe_id) }}">
            {{ value }}
            <label>Unsupervised Algorithm:</label>
            <select name="algorithm" id="algorithm">
                <option value="kmeans">Kmeans Clustering</option>
                <option value="pca">Principle Component Analysis</option>
                <option value="hiercluster">Hierarchical Clustering</option>
            </select>
            <input type="submit" value="Submit">
        </form>
    </div>
</body>

{% endblock %}